ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccffe6;
}

li {
  float: left;
  border-right:1px solid #ccffe6;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4dffa6;
}

.active {
  background-color: #4dffa6;
}

h1 {
  text-align:center;
  }
  
 footer {
  background-color: #ccffe6;
  padding: 45px;
  text-align: center;
  color: black;
}
