h1 {
  color:black;
  text-align:center;
  font-family:New Times Roman;
font-size:50px;
  }
h2  { 
  font-size:30px;
  font-family:New Times Roman;
  Color:black;
  text-align:center;
   }

p1 { 
 text-align:center;
  }
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccffe6;
}

li {
  float: left;
  border-right:1px solid #ccffe6;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4dffa6;
}

.active {
  background-color: #4dffa6;
}

storiafoto.jpg  { 
  width: 460;
  height: 345;
  align:center;
  }

storiafoto3.jpg  { 
  width: 460;
  height: 345;
  align:center;
  }

storiafoto4.jpg  { 
  width: 460;
  height: 345;
  align:center;
  }
  
 footer {
  background-color: #ccffe6;
  padding: 45px;
  text-align: center;
  color: black;
}

img {
  max-width: 100%;
  height: auto;

  body {
  background: #ffffff url("storiafoto4.jpg") no-repeat right top;
  margin-right: 200px;
}
}


  
