h1 {
  color:black;
  text-align:center;
  font-family:New Times Roman;
font-size:50px;
  }
h2  { 
  font-size:30px;
  font-family:New Times Roman;
  Color:black;
  text-align:center;
   }

p1 { 
 text-align:center;
  }
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccffe6;
}

li {
  float: left;
  border-right:1px solid #ccffe6;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4dffa6;
}

.active {
  background-color: #4dffa6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 


section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
  
 footer {
  background-color: #ccffe6;
  padding: 10px;
  text-align: center;
  color: white;
}

  
